.message-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 0.5rem;
	word-wrap: break-word;
}

.messageBlue, .messagePink, .messagebanned {
	border-radius: 0.7rem;
	padding: 0.5rem;
	max-width: 75%;
}

.messageBlue {
	border: 1px solid blue;
	margin-left: auto;
}

.messagePink {
	border: 1px solid pink;
	margin-right: auto;
}

.banned-text {
	color: #000000;
}

.user-header {
	padding: 0.3rem;
	font-style: italic;
	font-size: smaller;
}

.chatListItemButton {
	margin: 0;
	margin-bottom: 3px;
	padding: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	border-radius: 10px;
	cursor: pointer;
	text-align: center;
	transition: border-color 0.2s ease;
	border: 2px solid transparent;
}

.chatListItemChannel {
	background-color: rgb(44, 109, 170);
}

.chatListItemPrivate {
	background-color: rgb(245, 93, 237);
}

.chatListItemBan {
	background-color: #777;
}

.chatListItemButton:hover {
	border-color: #ffffff;
}
