
.form-label {
	color: #FFFFFF;
	opacity: 40%;
}

.form-control {
	color: rgba(255, 255, 255, 0.816);;
	background-color: transparent;
	border: 1px solid white;
	/* width: 325px;
	height: 44px;
	padding: 10px 24px; */
}

.form-control:focus {
	color:rgba(255, 255, 255, 0.816);
	background-color: transparent;
	box-shadow: 0 0 0 0.2rem grey;
	border: white;
}

.form-check {
	color: white;
}

.input-group-text {
	background-color: transparent;
	color: white;
	cursor: pointer;
}
