
.blockOption {
	width: 60px;
	height: 60px;
	background-image: url(../assets/Block.png);
}

.pongOption {
	width: 60px;
	height: 60px;
	background-image: url(../assets/Pong.png);
}

.chatOption {
	width: 60px;
	height: 60px;
	background-image: url(../assets/Chat.png);
}

.addOption {
	width: 60px;
	height: 60px;
	background-image: url(../assets/Add.png);
}

.block {
	background-image: url(../assets/block.svg);
}

.addFriend {
	background-image: url(../assets/addFriend.svg);
}

.accept {
	background: url(../assets/accept.svg) no-repeat;
	background-color: #FF8360;
	border-radius: 50%;
	background-position: center;
}

.decline {
	background: url(../assets/decline.svg) no-repeat;
	background-position: center;
	background-color: #C4C4C4;
	border-radius: 50%;
}

.leftArrow {
	background: url(../assets/leftArrow.svg) no-repeat;
	background-position: center;
	border-radius: 50%;
}

.leftArrow:hover {
	background-color: grey;
	transition: all 0.3s;
}

.add {
	background: url(../assets/add.svg) no-repeat;
	background-position: center;
	background-color: transparent;
	width: 30px;
	height: 30px;
	border: none;
	border-radius: 50%;
	cursor: pointer;
}

.add:hover {
	filter: brightness(3);
	transition: all 0.3s;
}

.send-message {
	background: url(../assets/sendMessage.svg) no-repeat;
	background-position: center;
}

.new-chat {
	background: url(../assets/newChat.svg) no-repeat;
	background-position: center;
}

.edit-pen {
	margin-left: 1rem;
	width: 1rem;
	height: 1rem;
	background: url(../assets/EditPen.svg) no-repeat;
	background-position: center;
}

.edit-pen:hover {
	margin-left: 1rem;
	width: 1rem;
	height: 1rem;
	filter: brightness(3);
	transition: all 0.3s;
}

.ok {
	background: url(../assets/ok.svg) no-repeat;
	background-position: center;
}

.ok:hover {
	filter: brightness(3);
	transition: all 0.3s;
}

.setting {
	background: url(../assets/setting.svg) no-repeat;
	background-position: center;
}

.setting:hover {
	filter: brightness(3);
	transition: all 0.3s;
}
