.pale-little-icon {
	cursor: pointer;
}

.pale-little-icon:hover {
	filter: brightness(3);
	transition: all 0.3s;
}

.edit-text-area {
	background: transparent;
	outline: none;
	border: none;
	/* width: 100%; */
	/* font-size: 20px; */
	color: #fff;
}
