.pale-little-icon {
	cursor: pointer;
}

.pale-little-icon:hover {
	filter: brightness(3);
	transition: all 0.3s;
}

.input-profile {
	background-color: transparent;
	border: transparent;
	color: white;
}

.input-profile:focus {
	border: none;
}