.tab-main-color {
	background: linear-gradient(transparent, #fa34c3);
	border-bottom: 3px solid #34fafa;
	color: white;
	text-align: center;
	padding: 10px;
	overflow: hidden;
}

.tab-greyout {
	filter: brightness(0.4);
}

.tab-ul {
	padding-left: 0;
	margin-left: 0;
	margin: auto;
}

.tab-item {
	background-color: #5a5a5a;
	color: white;
	list-style-type: none;
	text-align: center;
	margin-bottom: 5px;
	padding: 15px;
	border-radius: 10px;
}
