.tab-main-color {
	background: linear-gradient(transparent, #fa34c3);
	border-bottom: 3px solid #34fafa;
	color: white;
	text-align: center;
	padding: 10px;
	overflow: hidden;
}

.tab-greyout {
	filter: brightness(0.4);
}